@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
	text-align: 0;
}
body{
    background: rgb(42, 46, 51);
}

img.carousel {
	margin: 0;
	width: 100%;
}

h1{
	color: rgb(255, 255, 255);
	/*margin: 20px auto 0;*/
	width: 200px;
	text-align: center;
}
h2 {
	color: rgb(255, 255, 255);
	text-align: center;
	/*padding-bottom: 2%;
	padding-right: 10%;	*/
}