@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');

*{
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}
body{
    background: rgb(42, 46, 51);
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
	color: rgb(61, 66, 73);
}

input:-webkit-autofill {
	font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
	-webkit-text-fill-color: rgb(61, 66, 73);
	-webkit-text-size-adjust: 24px;
}


h1{
	color: rgb(255, 255, 255);
	/*margin: 20px auto 0;
	width: 200px;*/
	text-align: center;
}
h2 {
	color: rgb(255, 255, 255);
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 2%;
	/*padding-right: 10%;	*/
}
#wrapper{
	position: absolute;
	width: 320px;
	left: 50%;
	margin-left: -160px;
	top: 35%;
	margin-top: -75px;
}

/* === Sign in Form === */
#form {
	height: 90px;
	width: 300px;
	border-radius: 8px;
	position: relative;
}
#form::before {
	display: block;
	position: relative;
	height: 2px;
	background: rgb(42, 46, 51);
	content: '';
	top: 44px;
	margin-left: 20px;
	z-index: 1;
	
}
#form input:first-of-type{
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}
#form input:last-of-type{
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
#form  input[type="text"], #form  input[type="password"], #form button[type="button"]{
	background: rgb(28, 30, 33);
	box-shadow: inset -100px -100px 0 rgb(28, 30, 33); /*Prevent yellow autofill color*/
	color: rgb(61, 66, 73);
	font-size: bold;
}
#form  input[type="text"], #form  input[type="password"]{
	position: relative;
	display: block;
	width: 280px;
	height: 45px;
	border: 0;
	outline: 0;
	top: -2px;
	padding: 0 0 0 20px;
	font-weight: 700;
}
#form  input[type="text"]:focus, #form  input[type="password"]:focus{
	color: rgb(255, 255, 255);
}
#form button[type="button"]{
	display: block;
	position: absolute;
	width: 52px;
	height: 52px;
	color: rgb(42, 46, 51);
	border-radius: 50px;
	outline: 0;
	z-index: 2;
	top: 19px;
	right: -24px;
	border: 6px solid rgb(42, 46, 51);
	font-size: 25px;
	text-indent: 0px;
	padding-left: 9px;
	padding-bottom: 3px;
	text-align: center;
}
#form button[type="button"]:hover{
	color: rgb(0, 126, 165);
	text-shadow: 0 0 10px rgb(20, 96, 196);
	cursor: pointer;
	transition: 0.5s;
	-webkit-transform: scale(1.1);
  	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
#form p {
	color: rgb(79, 85, 97);
	padding: 0 20px;
	font-weight: 700;
	font-size: 12px;
	margin: 5px 0 0 0;
}
#form p > a{
	color: rgb(111, 119, 135);
	text-decoration: none;
}
#form p > a:hover{
	border-bottom: 1px solid;
    color:rgb(20, 96, 196);
    transition: 0.5s;
}

.logo {
	transform: scale(1.5);
}