body {
    margin: 0;
    padding: 0;
}

div.menu {
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}

.menu ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем отступы*/
    padding-left: 0; /*убираем отступы*/
    background: rgb(28, 30, 33); /*добавляем фон всему меню*/
    height: 50px; /*задаем высоту*/
  }

.menu a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    background: rgb(28, 30, 33); /*добавляем фон к пункту меню*/
    color:#fff; /*меняем цвет ссылок*/
    padding:0px 15px; /*добавляем отступ*/
    font-family: arial; /*меняем шрифт*/
    line-height:50px; /*ровняем меню по вертикали*/
    display: block; 
    border-radius: 3px;
    /*border-right: 1px solid rgb(20, 96, 196); /*добавляем бордюр справа*/
    -moz-transition: all 0.3s 0.01s ease; /*делаем плавный переход*/
    -o-transition: all 0.3s 0.01s ease;
    -webkit-transition: all 0.3s 0.01s ease;
}

.menu  a:hover {
    /*background:#D43737;/*добавляем эффект при наведении*/
    border-left: 1px solid rgb(20, 96, 196);
    border-right: 1px solid rgb(20, 96, 196);
    transition: 0.2s;
}

.menu  li {
    float:left; /*Размещаем список горизонтально для реализации меню*/
    position:relative; /*задаем позицию для позиционирования*/
}

/*
.menu li.userMenu {
    float: right;
}*/
       
      /*Стили для скрытого выпадающего меню*/
.menu li > ul {
          position:absolute;
          top:25px;
          display:none;   
}
       
      /*Делаем скрытую часть видимой*/
.menu li:hover > ul {
          display:block; 
          width:250px;  /*Задаем ширину выпадающего меню*/      
}

.menu li:hover > ul > li {
          float:none; /*Убираем горизонтальное позиционирование*/
}

p.logo {
    text-align: center;
    margin: 0;
}