
.registration {
    margin-bottom: 3%;
}

#menu {
    color: blanchedalmond;
    display: inline-block;
    border: 2px solid grey;
    border-radius: 6px;
    min-width: 35%;
    margin: 0 auto;
    margin-top: 1%;
    
}

input[type=text].form, input[type=email].form {
    border-radius: 3px;
}


.zone .registration {
    padding:1em;
    margin:1em
}

.zone .label:hover, #login-button:hover, input[type=text].form:hover {
    border:2px solid #1460c4;
    transition: 0.8s;
}

.zone .label:hover {
    color:#1460c4
}

.registration input, .registration label {
    margin-bottom: 3%;
}

#login-button {
    border-radius: 3px;
}

#registration-text {
    margin-top: 0;
    font-size: 70%;    
    color: rgb(230, 230, 230);
    text-decoration: none;
}

#registration-text:hover {
    color:#1460c4;
    transition: 0.4s;
}