@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css');


html {
<<<<<<< HEAD
    /*text-align: center;*/
    background-color: #100f1a;
=======
>>>>>>> master
    font-family: Arial, Helvetica, sans-serif; 
	color: blanchedalmond;
}
body{
    background: rgb(42, 46, 51);
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
}

#head {
    text-align: center;
}


.form-text {
    margin-bottom: 3%;
}
/*
#menu {
    color: blanchedalmond;
<<<<<<< HEAD
    display: block;
    border: 2px solid grey;
    border-radius: 6px;
    width: 450px;
    margin: 0 auto;
=======
    display: inline-block;
    border: 2px solid grey;
    border-radius: 6px;
    /*min-width: 35%;
    margin: 0 auto;
    margin-top: 1%;
    
}*/

input[type=text].form, input[type=datatime-local].form, input[type=number].form  {
    border-radius: 3px;
>>>>>>> master
}

.label {
    padding: 0;
}

.zone .form-group {
    padding:1em;
    margin:1em
}

.zone input[type=file] {
    outline:0;
    opacity:0;
}

.zone .label {
    width:120px;
    border:2px dashed grey;
    border-radius:5px;
    display:inline-block;
    padding:1.2em;
    transition:border 300ms ease;
    cursor:pointer;
    text-align:center
}

.zone .label i {
    display:block;
    font-size:42px;
    padding-bottom:16px
}

.zone .label i,.zone .label .title {
    color:grey;
    transition:200ms color
}

.zone .label:hover, #login-button:hover, input[type=text].form:hover {
    border:2px solid #1460c4;
    transition: 0.8s;
}

.zone .label:hover i,.zone .label:hover .title {
    color:#1460c4
}

.file-load input, .file-load label {
    margin-bottom: 3%;
}

#fload {
    position: absolute;
	top: -9999px;
	left: -9999px;
<<<<<<< HEAD
=======
}

#login-button {
    border-radius: 3px;
}

#registration-text {
    margin-top: 0;
    font-size: 70%;    
    color: rgb(230, 230, 230);
    text-decoration: none;
}

#registration-text:hover {
    color:#1460c4;
    transition: 0.4s;
>>>>>>> master
}