{% extends 'base.html' %}

{% block title %}
redirect
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/album.css') }}">
{% endblock %}

{% block body %}

<div id="menu">
    <h3 id="head"> Все фотографии </h3>
    {% for image in current_user.get_images(1) %}
    <div class="album">
        <img src="{{ url_for('data_static', filename='/photo/normal/' + image[1]) }}" class="album" title="{{image[1].split('_', 1)[0]}}&#013;{{image[0]}}">
        <p class="album">{{image[1].split('_', 1)[0]}}<br>{{image[0]}}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}