<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block style %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div id="plug" style="height: 50px;">-</div>
    {% block body %}{% endblock %}
    <div class="menu" id="menu">
        <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <ul>
            <li class="generalMenu"><a href="/home">Главная</a></li>
            <li class="generalMenu"><a href="/map">Карта</a></li>
            {% if not current_user.is_authenticated %}
                <li class="generalMenu"><a href="/login">Авторизироваться</a></li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li><a href="/data_load">Загрузки</a>
                <ul style="margin-top: 25px;">
                    <li><a href="/data_load">Загрузить</a></li>
                    {% if not current_user.is_admin() %}<li><a href="/my_images">Мои загрузки</a></li>{% endif %}
                    {% if current_user.is_admin() %}<li><a href="/all_images">Все загрузки[admin]</a></li>{% endif %}
                    
                </ul>
            </li>
            <li class="userMenu"><a href="/profile">{{current_user.get_login()}}</a></li>
            <li class="userMenu"><a href="/logout">Выход</a></li>{% endif %}
            
        </ul>
        <!--<p class="logo"><img src="{{ url_for('static', filename='images/LOGO.svg')}}" class="logo"></p>-->
    </div>
    
    
</body>
</html>