{% extends 'base.html' %}

{% block title %}
redirect
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/dataLoad.css') }}">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="{{ url_for('static', filename='js/data_load.js') }}"></script>
{% endblock %}

{% block body %}

<div id="menu">
    <h2 id="head"> Загрузить </h2>

    <div class="zone">
        <div class="form-group">
            <form action="/upload" name="file-load" class="file-load" method="POST" enctype="multipart/form-data">
                <h3 class="form-text">Координаты</h3>
                <p>широта</p>
                <input type="text" name="lat" class="form" id="lat"><br>
                <p>долгота</p>
                <input type="text" name="long" class="form" id="long" style="margin-bottom:  1%;"><br>
                <p class="getCoord" onclick="getGeolocation()">Использовать мое текущее положение</p>
                <br><br>

                <label class="label" for="fload" >
                    <i class="material-icons">attach_file</i>
                    <span class="title">Добавить файл</span>
                </label>
                <br>
                <input type="file" name="file" id="fload">
                <input type="datetime-local"  class="form" name="date" id="datetime-local" class="form" style="margin-bottom:  1%;"><input type="number" min="-12" max="14" id="timeZone" value="0" class="form" name="timeZone" style="width: 40px; margin-left: 1%; margin-bottom: 1%;"><br>
                <p class="getCoord" id="timeNow" onclick="timeNowED()">Использовать мое текущее время</p><br>
                
                <br><br>
                <input type="submit" id="login-button" value="Отправить">
                

            </form>
        </div>
    </div>
</div>
<script>
    var d = new Date();
document.getElementById("timeZone").value = String(d.getTimezoneOffset()/60);</script>
{% endblock %}