{% extends 'base.html' %}

{% block title %}
Neboscope
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<link rel="import" href="{{ url_for('static', filename='menu.html') }}">
{% endblock %}
{% block body %}

<img class="carousel" src="{{ url_for('static', filename='images/home/carousel1.svg')}}">
<h2>*тескт*</h2>



{% endblock %}