{% extends 'base.html' %}

{% block title %}
Main page
{% endblock %}

{% block body %}

<br><br><br>

<div id="menu">
    <h3> Add image </h3>

    <div class="zone">
        <div class="form-group">
            <form action="/add" name="file-load" class="file-load" method="POST" enctype="multipart/form-data">

                <input type="text" name="username">
                <br>
                <label class="label" for="fload" >
                    <i class="material-icons">attach_file</i>
                    <span class="title">Добавить файл</span>
                </label>
                <br>
                <input type="file" name="file" id="fload">
                <br>
                <input type="submit">

            </form>
        </div>
    </div>
</div>

{% endblock %}