{% extends 'base.html' %}

{% block title %}
login
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<script src="{{ url_for('static', filename='js/sha256.js') }}"></script>
<script src="{{ url_for('static', filename='js/sendHesh.js')}}"></script>
<script src="{{ url_for('static', filename='js/login.js')}}"></script>
{% endblock %}
{% block body %}

<h1><img src="{{url_for('static', filename='images/LOGO.svg')}}" class="logo"></h1>

<div id="wrapper">
    <!--Logo here-->
   <h2>Sign In</h2>
	<form id="form" method="POST" action="/authentication" autocomplete="off" enctype="multipart/form-data">
		<input type="text" id="user" name="login" placeholder="Username" value="" />
		<input type="password" id="password" name="password" placeholder="Password" value="" />
		<button type="button" onclick="sendHesh()">&#xf0da;</button>
		<p>forgot your password? <a href="#">click&nbsp;here</a>&nbsp;or&nbsp;<a href="/registration">registration</a></p>
	</form>
</div>


{% endblock %}
