{% extends 'base.html' %}

{% block title %}
map
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://openlayers.org/en/v5.3.0/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.css" />
    <script type="text/javascript" src="https://cdn.rawgit.com/Viglino/ol-ext/master/dist/ol-ext.min.js"></script>
    <style>
      html, body {
        height: 85%;
        width: 100%;
        padding: 0px;
        margin: 0px;
      } 
      #map {
        position: relative;
      }

            /* поднимаем копирайты повыше */
      
      
      /* контрол масштаба сдвигаем вправо */
      .ol-scale-line {
          left: auto;
          right: 8px;
      }
      
      
      /* полоску масштабов заливаем более заметным цветом */
      .ol-zoomslider {
          background-color: rgba(0, 60, 136, .4);
      }
      
      .ol-zoomslider:hover {
          background-color: rgba(0, 60, 136, .6);
      }
      
      .ol-zoomslider button {
          background-color: rgba(255, 255, 255, .8);
      }
      
      .ol-zoomslider button:hover {
          background-color: rgba(255, 255, 255, 1);
      }
        .ol-mouse-position {
        background-color: rgba(0, 60, 136, .4);
        border-radius: 4px;
        color: #eee;
        padding: 1px 5px;
    }
       .ol-attribution {
      bottom: 4.5em;
    }
    .ol-timeline {
      font-size: 2em;
    }
    .ol-timeline .ol-scroll {
      height: 2em;
    }
    .ol-timeline .ol-features {
      text-align: center;
    }
    #select {
      font-size: .85em;
      margin: 1em 0;
    }
    #select p {
      margin: 0;
    }
    #select .copy {
      font-size: .9em;
      color: #396;
    }
    button.go:before {
      content: '';
      position: absolute;
      width: 0;
      height: .8em;
      background: transparent;
      border: 0.4em solid transparent;
      border-right: 0;
      border-left: .6em solid #fff;
      left: 50%;
      right: 50%;
      transform: translate(-50%, -50%);
      box-sizing: border-box;
    }
    .running button.go:before {
      background: transparent;
      width: .2em;
      border: 0;
      box-shadow: .2em 0, -.2em 0;
    }
/*    .options {
      color: white;
    }*/

    </style>
{% endblock %}
{% block body %}

    <div id="map" class="map"><div id="popup"></div></div>
      <div class='options'>
    Дата : <span class='dateStart'></span>
    <div id="select"></div>
  </div>
    <script>
    var hh = {
  "type": "FeatureCollection",
  "features": [
    {
      "type": "Feature",
      "properties": {"id":"4", "time":"1614099600000", "mag":"1"},
      "geometry": {
        "type": "Point",
        "coordinates": [-90, 0]
      }
    },
    {
      "type": "Feature",
      "properties": {"id":"4", "time":"1614099600000", "mag":"1"},
      "geometry": {
        "type": "Point",
        "coordinates": [-45,45]
      }
    },
    {
      "type": "Feature",
      "properties": {"id":"4", "time":"1614186000000", "mag":"1"},
      "geometry": {
        "type": "Point",
        "coordinates": [0,0]
      }
    },
      {
      "type": "Feature",
      "properties": {"id":"4", "time":"1614099600000", "mag":"1"},
      "geometry": {
        "type": "Point",
        "coordinates": [45,-45]
      }
    },
      {
      "type": "Feature",
      "properties": {"id":"5", "time":"1614186000000", "mag":"1"},
      "geometry": {
        "type": "Point",
        "coordinates": [90,0]
      }
    },
      {
      "type": "Feature",
      "properties": {"id":"6", "time":"1609005451000", "mag":"1"},
      "geometry": {
        "type": "Point",
        "coordinates": [10,90]
      }
      }    
  ]
}
    let source = null;
    var datas = new ol.source.Vector({
         features: new ol.format.GeoJSON().readFeatures(hh, {featureProjection:"EPSG:4326"}),
      });
    var vectorLayer = new ol.layer.Vector({
      source: datas,
      visible: true,
      style:new ol.style.Style({
                image: new ol.style.Icon({
          src: './klipartz.com.png',
          scale:0.1
        })})
      }
    );
    var extent = [-180, -90, 180, 90];
     // var rasterLayer = new ol.layer.Image({
     //   source: new ol.source.ImageStatic({
     //     url: './sample_modified.png',
     //     imageExtent: extent,
     //   })});

      var cache = {};
        function style(select){
    return function(f) {
      var style = cache[f.get('mag')+'-'+select];
      if (!style) {
        var img = new ol.style.Circle({
          radius: f.get('mag')*f.get('mag')/2,
          fill: new ol.style.Fill({
            color: select ? 'rgba(255,0,0,.5)':'rgba(255,128,0,.3)'
          })
        });
        var img2 = new ol.style.Circle({
          radius: f.get('mag')*f.get('mag')/4,
          fill: new ol.style.Fill({
            color: select ? 'rgba(255,0,0,.5)':'rgba(255,128,0,.3)'
          })
        });
        style = cache[f.get('mag')+'-'+select] = [
          new ol.style.Style({ image: img }),
          new ol.style.Style({ image: img2 })
        ];
      }
      return style;
    }
  };
  

      var map = new ol.Map(
      {
        layers: [new ol.layer.Tile({
            source: new ol.source.OSM()
            }), vectorLayer
          ],
          target:  document.getElementById('map'),
         controls: ol.control.defaults().extend([
                  new ol.control.ZoomSlider(),
                  new ol.control.MousePosition(),
                  new ol.control.OverviewMap(),
                  new ol.control.ScaleLine()
              ]),
        
        view: new ol.View({
          center: [0, 0],
          zoom: 3,
          projection: 'EPSG:4326',
          minZoom:4.5,
          maxZoom:6.5
        })
      }
      );
        // Create Timeline control 
  var tline = new ol.control.Timeline({
    className: 'ol-pointer',
    features: [{
      text: 2020,
      date: new Date('2020/01/01'),
      endDate: new Date('2020/12/31')
    }],
    graduation: 'day', // 'month'
    minDate: new Date('2016/06/01'),
    maxDate: new Date('2022/02/27'),
    getHTML: function(f){ return 2020; },
    getFeatureDate: function(f){ return f.date; },
    endFeatureDate: function(f) { return f.endDate }
  });
  map.addControl (tline);
  // Set the date when ready
  setTimeout(function(){ tline.setDate('2017'); });
  tline.addButton ({
    className: "go",
    title: "GO!",
    handleClick: function() {
      go();
    }
  });

  // Show features on scroll
  tline.on('scroll', function(e){
    var d = tline.roundDate(e.date, 'day')
    $('.dateStart').text(d.toLocaleDateString(undefined, {year: 'numeric', month: 'short', day: 'numeric'}));
    // Filter features visibility
    datas.getFeatures().forEach(function(f) {
      var dt = f.get('time') - e.date;
      if (Math.abs(dt) > 1000*3600*12) {
        f.setStyle([]);
      } else {
        f.setStyle();
      }
    });
  });
 
    var select = new ol.interaction.Select({ hitTolerance: 5, style: style(true) });
  map.addInteraction(select);
  select.on('select', function(e){
    var f = e.selected[0];
    if (f) {
      // Show info
      var info = $("#select").html("");
      $("<p>").text((new Date(f.get("time"))).toLocaleString()).appendTo(info);
    } else {
      $("#select").html('');
    }
  });

  var running = false; 
  var start = new Date('2020');
  var end = new Date('2022');
  function go(next) {
    var date = tline.getDate();
    if (running) clearTimeout(running);
    if (!next) {
      // stop
      if (date>start && date<end && running) {
        running = false;
        tline.element.classList.remove('running');
        return;
      }
      if (date > end) {
        date = start;
      }
    }
    if (date > end) {
      tline.element.classList.remove('running');
      return;
    }
    if (date < start) {
      date = start;
    }
    // 1 day
    date = new Date(date.getTime() + 24*60*60*1000);
    tline.setDate(date, { anim:false });
    // next
    tline.element.classList.add('running');
    running = setTimeout(function() { go(true); }, 250);
  }



      var mousePositionControl = new ol.control.MousePosition( {
        // используется градусная проекция
        projection: 'EPSG:4236',
        // переопределяем функцию вывода координат
        coordinateFormat: function(coordinate) {
            // сначала широта, потом долгота и ограничиваем до 5 знаков после запятой
            return ol.coordinate.format(coordinate, `${y}, ${x}`, 3);
        }})
      var element = document.getElementById('popup');

      var popup = new ol.Overlay({
        element: element,
        positioning: 'bottom-center',
        stopEvent: false,
        offset: [0, -25]
      });
      map.addOverlay(popup);

      // display popup on click
      map.on('click', function(evt) {
        var feature = map.forEachFeatureAtPixel(evt.pixel,
          function(feature) {
            return feature;
          });
        if (feature) {
          var coordinates = map.getCoordinateFromPixel(evt.pixel);
          popup.setPosition(coordinates);
          var source = datas.getProperties;
          var idi = String(feature.get("id"));
          $(element).popover({
            placement: 'top',
            html: true,
            content: '<h3>Предпросмотр</h3>'+  `<img src = "C:/work/${idi}.png", width=200, height=150>`
          });
          $(element).popover('show');
        } else {
          $(element).popover('destroy');
        }
      });
      // change mouse cursor when over marker
      map.on('pointermove', function(e) {
        if (e.dragging) {
          $(element).popover('destroy');
          return;
        }
        var pixel = map.getEventPixel(e.originalEvent);
        var hit = map.hasFeatureAtPixel(pixel);
        map.getTarget().style.cursor = hit ? 'pointer' : '';
      });
    </script>
{% endblock %}
