{% extends 'base.html' %}

{% block title %}
redirect
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/album.css') }}">
{% endblock %}

{% block body %}

<div id="menu">
    <h3 id="head"> Мои фотографии </h3>
    {% for image in current_user.get_images() %}
    <div class="album" style="border: 1px solid blanchedalmond; border-radius: 10px;margin:15px; float: left; padding: 8px; font-size: 0.8em;">
        <center><img src="{{ url_for('data_static', filename=image.imagePath) }}" class="album" title="Date: {{image.date}}&#013;UserID: {{image.userID}}&#013;Latitude: {{image.latitude}}&#013;Longitude: {{image.longitude}}&#013;ClientIP: {{image.clientIP}}&#013;Location: {{image.location}}"></center>
        <p class="album">Date: {{image.date}}<br>
                         UserID: {{image.userID}}<br>
                         Location: {{image.location}}<br>
                         clientIP: {{image.clientIP}}<br>
    </div>
    {% endfor %}
</div>

{% endblock %}
