{% extends 'base.html' %}

{% block title %}
Neboscope
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="import" href="{{ url_for('static', filename='menu.html') }}">
<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
{% endblock %}
{% block body %}
<div id="wrapper">
    <!--Logo here-->
    <h2>test cookies</h2>
    <p>Hi, i'm Neboscope</p>
    <p>Version {{version}}</p>
    <p>ping: </p>
    <script>
        const ping = async () => {
            let start = Date.now();
          
            try {
              await fetch("http://localhost");
            }
            catch(err) {}
            
            console.log(Date.now() - start)
            return (Date.now() - start);
          };

        document.addEventListener("DOMContentLoaded", function() {
            ping();
          });


        function areCookiesEnabled() {
            document.cookie = "__verify=1;expires=" + new Date(1976, 8, 16).toUTCString();
            return  (document.cookie.length > 1);
        }

        if(!areCookiesEnabled()) 
            document.write("<p>Activate cookies!</p>");
        else
            document.write("<p>cookies ok</p>");

            
    </script>
    
</div>


{% endblock %}