{% extends 'base.html' %}

{% block title %}
Login
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
<!--<script src="{{ url_for('static', filename='js/sha256.js') }}"></script>
<script src="{{ url_for('static', filename='js/sendHesh.js')}}"></script>-->
{% endblock %}

{% block body %}

<h1>profile</h1>
<div>
    <p class="profile">user id: {{current_user.get_id()}}<br>
        user login: {{current_user.get_login()}}<br>
        user email: {{current_user.get_email()}}<br>
        user is admin: {{current_user.is_admin()}}<br>
        images uploaded: {{ current_user.get_images()|length }}<br></p>
</div>

{% endblock %}