<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
<script src="{{ url_for('static', filename='js/registration.js') }}"></script>
<script src="{{ url_for('static', filename='js/sha256.js') }}"></script>
<script src="{{ url_for('static', filename='js/sendHesh.js')}}"></script>
</head>

<body>
<div id="menu">
    <h3 id="head"> Регистрация </h3>

    <div class="zone">
        <div class="form-group">
            <form action="/registration_check" name="registration" class="registration" method="POST" id="form">
                <p class="form-text">Логин</p>
                <input type="text" name="login" class="form" minlength="5" maxlength="25" placeholder="login" required>
                <br>
                <p class="form-text">Email</p>
                <input type="email" name="email" id="email" class="form" minlength="5" maxlength="60" placeholder="email" onchange="checkEmail()" required>
                <br>
                <p class="form-text">Пароль</p>
                <input type="password" name="password" class="form" id="password" minlength="5" maxlength="60" placeholder="password" required>
                <p style="margin-top: 0;"><a href="login" id="registration-text">Авторизоваться</a></p>
                <!--<label class="label" for="fload" >
                    <i class="material-icons">attach_file</i>
                    <span class="title">Добавить файл</span>
                </label>
                <br>
                <input type="file" name="file" id="fload">-->
                <br>
                <input type="button" id="login-button" value="Зарегистрироваться" onclick="sendHesh()">
                

            </form>
        </div>
    </div>
</div>

</body>